<!DOCTYPE html>
<html>
  <head>
    <title>NovoProjetoRecap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li> <%= link_to "Página Inicial", homepage_path %> </li>
      <li> <%= link_to "Sobre nós", about_us_path %> </li>
    </ul>

    <%= yield %>
  </body>
</html>
